@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body, p {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.full-width {
  display: block;
  width: 100%;
}

.pointer {
  cursor: pointer;
}
